@import './fonts.scss';
@import './variables.scss';

body,
button {
  font-family: 'Golos', sans-serif;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.1s linear;
  outline: none;

  &:hover {
    opacity: 0.6;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s linear;
  background: none;

  &:hover {
    opacity: 0.6;
  }
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
