@font-face {
  font-family: 'Golos';
  src: url('/fonts/Golos/golostext_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/fonts/Golos/golostext_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}