$mobile: 768px;
$tablet: 1024px;
$laptop: 1440px;

// 0 - 767
@mixin mobile {
  @media (max-width: calc($mobile - 1px)) {
    @content;
  }
}

// 0 - 1023
@mixin to-laptop {
  @media (max-width: calc($tablet - 1px)) {
    @content;
  }
}

// 0 - 1439
@mixin to-desktop {
  @media (max-width: calc($laptop - 1px)) {
    @content;
  }
}

// 768 - 1023
@mixin tablet {
  @media ((min-width: $mobile) and (max-width: calc($tablet - 1px))) {
    @content;
  }
}

// 1024 - 1439
@mixin laptop {
  @media ((min-width: $tablet) and (max-width: calc($laptop - 1px))) {
    @content;
  }
}

// 768 - inf
@mixin from-mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

// 1024 - inf
@mixin from-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

// 1440 - inf
@mixin desktop {
  @media (min-width: $laptop) {
    @content;
  }
}